.sixty-forty-frames-text{
    .ipad-frame{
        .frame-border{
            position: absolute;
            background: $gray;
            top: 14%;
            left: 12%;
            width: 77%;
            height: 69%;
            overflow: scroll;
            @include xl{
                top: 73px;
                left: 78px;
                width: 516px;
                height: 380px;
            }
        }
    }
    .iphone-frame{
        width: 30%;
        bottom: 0;
        right: 5px;
        @include md{
            width: 40%;
            bottom: 58px;
            right: 0;
        }
        @include lg{
            width: auto;
            bottom: 80px;
            right: -10px;
        }
        @include xl{
            bottom: -18px;
            right: 45px;
        }
        .frame-border{
            position: absolute;
            background: $gray;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: scroll;
            top: 13%;
            left: 16%;
            width: 70%;
            height: 77%;
            @include lg{
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
            @include xl{
                top: 69px;
                left: 43px;
                width: 181px;
                
                
                height: 377px;
                
            }
        }
    }
    .content{
        h1,h2,h3,h4,h5{
            color: $green;
        }
        h6{
            font-family: $regular;
            margin-top: 17px;
        }
        p{
            margin-bottom: 0;
            @include md{
                line-height: 1.8;
            }
        }
    }
}