/***
 * 
 * Button Styles
 *  
 ***/
 
$button-bg: $brand-primary;
$button-color: #fff;
$button-hover-bg: #333;
$button-hover-color:#fff;
$button-disabled-bg:#eee;

.btn{
	padding: 9px 13px;
	border: 0;
	border-radius: 25px;
	font-family: $semibold;
	color: $white;
	font-size: 18px;
	letter-spacing: 0.45px;
	transition: all 0.3s ease-in-out;
}
.btn-white{
	background: #fff;
	color: #2E2E2E;
	&:hover{
		background: $light_green;
		color: $white;
	}
}