.utility-desktop{
	display: none;
	@include lg { 
		display: block;
		background: rgba($brand-primary, 0.95);
	}

	ul{
		list-style: none;
		float: right;
		margin: 0;
		li{
			display: inline;
			&:before{
				display: none;
			}
			a{
				display: inline-block;
				padding: 10px;
				color: #fff;
				transition: padding 0.3s;
				@include md {
					font-size:14px;
				}

			}

		}


	}
}

header{
	background: rgba(0,0,0,0.2);
	padding: 30px 10px 34px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
	@include lg{
		background: rgba(0,0,0,0);
		padding: 28px 85px 34px;
		transition: background 0.3s ease-in-out;
		&.scroll{
			background: rgba(0,0,0,0.2);
		}
	}
}

.branding{
	float: left;
	position: relative;
    z-index: 98;
	h1{
		margin: 0;
		img{
			width: 147px;
			@include lg{
				width: 186px;
			}
		}
	}
}

.nav-mobile{
	float: right;
	@include lg { 
		display: none;
	}	
}

.mobile-menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($brand-primary, 1);
	z-index: 97;
	>div{
		max-width: 400px;
		max-height: 80%;
		position: relative;
		top: 25%;
		//transform: translateY(-50%);
		ul{
			list-style: none;
			padding: 20px;
			margin: 0;
			li{
				line-height: 11;
				padding: 0 20px 20px;
				&:before{
					display: none;
				}
				a{
					display: block;
					color: #fff;
					font-family: $semibold;
					font-size: 20px;
					line-height: 1.2;
				}
			}
		
			&.sub-menu{
				display: none;
			}
		}
	}
	.inner-mobile-menu{
		max-height: 66%;
		overflow: scroll;
		padding-bottom: 30px;
	}
	.contact-info{
		hr{
			border-top: 2px solid $light_green;
			width: 40px;
			margin: 15px auto 15px 0;
		}
		.email,
		.social{
			color: #fff;
			@extend p;
			img{
				vertical-align: text-top;
			}
			i{
				font-size: 22px;
				color: $light_green;
				margin-right: 17px;
				display: inline-block;
				vertical-align: text-bottom;
			}
		}
	}
	.demo-btn{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 52px;
		width: 100%;
		display: block;
		background: $light_green;
		color: $green;
		font-family: $semibold;
        font-size: 19px;
		letter-spacing: 0.47px;
		padding: 13px;
    	text-align: center;
	}
}



#mobile-menu{
	margin-top: 25px;
	width: 30px;
	height: 18px;
	position: relative;
	padding: 17px 0;
	transform: rotate(0deg);
	transition: 0.3s ease-in-out;
	cursor: pointer;
	z-index: 99;
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $white;
		border-radius: 0;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;

		&:nth-child(1) {
			top: 8px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 17px;
		}

		&:nth-child(4) {
			top: 26px;
		}

	}
	&.open span{
		background: #fff;

		&:nth-child(1) {
			top: 8px;
			width: 0%;
			left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}

.nav-desktop{
	display: none;
	@include lg { 
		display: block;
		float: right;
	}

	ul{
		list-style: none;
		margin: 25px 0 0;
		display: flex;
		align-items: center;
		li{
			display: inline-block;
			padding-bottom: 0;
			padding-right: 20px;
			&:before{
				display: none;
			}
			a{
				display: inline-block;
				margin: 0 10px 0 20px;
				font-family: $semibold;
				color: $white;
				font-size: 18px;
				letter-spacing: 0.45px;
				transition: color 0.3s;
			}
			&:hover{
				a{
					color: $light_green;
				}
			}
			&.btn{
				padding: 9px 13px;
				margin: 0 0 0 20px;
			}
			&.btn-white{
				&:hover{
					a{
						color: $white !important;
					}
				}
				a{
					color: #2E2E2E;	
					margin: 0 17px;
					&:hover{
						color: $white !important;
					}
				}
			}
		}
	}

	.sub-menu{
		display: none;
	}

}